/* for title */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* for the body */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #395144;
    --font-color: #f0ebce;
    --light-color: #aa8b56;
    --dark-color: #4e6c50;
}

/* whole app design */
body {
    background: var(--bg-color);
    color: var(--font-color);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Comfortaa', cursive;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* search bar */
.search-btn {
    cursor: pointer;
    outline: 0;
    font-size: 1rem;
}

.text {
    opacity: 0.8;
}

/* container */
.container {
    min-height: 100vh;
}

.meal-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: var(--bg-color);
    text-align: center;
}

.meal-search {
    margin: 2rem 0;
}

.meal-search h2.title {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
}

.meal-search h2.title i {
    color: var(--light-color);
}

.meal-search-box {
    margin: 1rem 0;
    height: 35px;
    display: flex;
    align-items: stretch;
}

.search-content,
.search-btn {
    width: 100%;
}

.search-content {
    padding: 0 1rem;
    font-size: 1rem;
    outline: 0;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.search-content::placeholder {
    color: var(--light-color);
}

.search-btn {
    width: 55px;
    height: 35px;
    font-size: 1.2rem;
    background: var(--light-color);
    color: var(--font-color);
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--dark-color);
}

/* how meals populated will look like */
.meal-result {
    margin-top: 4rem;
}

.meal-result h2.title {
    display: none;
}

#meal {
    margin: 2.4rem 0;
}

.meal-item {
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
    margin: 2rem 0;
}

.meal-img img {
    width: 100%;
    display: block;
}

.meal-name {
    padding: 1.5rem 0.5rem;
}

.meal-name h3 {
    font-size: 1.4rem;
}

.recipe-btn {
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--light-color);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.4s linear;
}

.recipe-btn:hover {
    background-color: var(--dark-color);
}

/* populated recipe design */
.meal-detail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    background-color: var(--light-color);
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.meal-detail::-webkit-scrollbar{
    width: 10px
}

.meal-detail::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 2rem;
}

.showRecipe{
    display: block;
}

.meal-details-content {
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: var(--font-color);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    cursor: pointer;
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category {
    background: var(--font-color);
    font-weight: 600;
    color: var(--light-color);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruction {
    padding: 1rem 0;
}

.recipe-meal-img img {
    width: 300px;
    height: 100%;
    border-radius: 5%;
    margin: 0 auto;
    display: block;
}

.recipe-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.4s linear;
}

.recipe-link a:hover {
    color: var(--dark-color);
}

.recipe-ingredient h3{
    padding: 1rem 0;
}

.recipe-ingredient ul li {
    list-style-type: none;
}

/* 404 for searches */
.notFound {
    grid-template-columns: 1fr!important;
    color:var(--light-color);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}


/* media queries */
@media (max-width: 750px) {
    .meal-search h2.title {
        font-size: 50px;
    }    
    
}

@media (max-width: 500px) {
    .meal-search h2.title {
        font-size: 40px;
    }  
}

@media (max-width: 400px) {
    .meal-search h2.title {
        font-size: 30px;
    }  
}

@media (max-width: 300px) {
    .meal-search h2.title {
        font-size: 20px;
    }  
}

@media screen and (min-width: 600px) {
    
    
    .meal-search-box {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    #meal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .meal-item {
        margin: 0;
    }
    .meal-detail {
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    #meal {
        grid-template-columns: repeat(4, 1fr);
    }
}